/*font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;*/

@import "style1.css";
body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

html {
    width: 100%;
}

.header {
    position: relative;
    background: url("img/photo.png") no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-navigator {
    width: auto;
    position: relative;
    padding-top: 50px;
    margin: 0px 7%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    background: url('img/logos.png') no-repeat;
    width: 65px;
    height: 65px;
}

.logo-text {
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.header-burger {
    display: none;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
}

.nav li a:hover {
    cursor: pointer;
    color: #c7b299;
}

.nav li {
    margin-right: 20px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav-box {
    background: url("img/icon-cart.png") no-repeat;
    width: 18px;
    height: 24px;
    margin-right: 20px;
    margin-left: 40px;
}

.item-nav-search {
    background: url("img/icon-search.png") no-repeat;
    width: 24px;
    height: 24px;
}

@media (max-width: 1040px) {
    .nav-items li:nth-child(2n) {
        display: none;
    }
}

.header-text {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-top: 150px;
    position: relative;
    z-index: 10;
}

.header-main-text {
    font-size: 36px;
    line-height: 50px;
}

.header-subtext {
    line-height: 80px;
    font-size: 52px;
    font-weight: bold;
}

.header-subtext-sub {
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 767px) {
    .item-nav {
        display: none;
    }
     .header{
         overflow: hidden;
     }
    .header-main-text {
        font-size: 16px;
    }
    .header-subtext {
        font-size: 24px;
        line-height: 40px;
    }
    .header-subtext-sub {
        display: none;
    }
    .header-text {
        margin-top: 100px;
    }
    .nav-items {
        margin-top: 30px;
        position: absolute;
        z-index: 100;
        display: block;
        right: -100%;
        text-align: right;
    }
    .nav-items li {
        padding: 10px 10px ;
    }
}

@media(max-width:767px) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header-burger:before, .header-burger:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger span {
        position: absolute;
        background-color: #ffffff;
        right: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .nav-items.active {
        right: -0%;
        transition: 0.5s;
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.2);
        
    }
    .nav li {
        margin-right: 0;
    }
    
}

/**/
