/*font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;*/

@import "style1.css";
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
}

html {
    width: 100%;
}

.header {
    position: relative;
    background: url("img/photo.png") no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-navigator {
    width: auto;
    position: relative;
    padding-top: 50px;
    margin: 0px 7%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    background: url('img/logo.svg') no-repeat;
    width: 65px;
    height: 65px;
}

.logo-text {
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.header-burger {
    display: none;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
}

.nav li a:hover {
    cursor: pointer;
    color: #c7b299;
}

.nav li {
    margin-right: 20px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav-box {
    background: url("img/icon-cart.png") no-repeat;
    width: 18px;
    height: 24px;
    margin-right: 20px;
    margin-left: 40px;
}

.item-nav-search {
    background: url("img/icon-search.png") no-repeat;
    width: 24px;
    height: 24px;
}

@media (max-width: 1040px) {
    .nav-items li:nth-child(2n) {
        display: none;
    }
}

.header-text {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
    position: relative;
    z-index: 10;
}

.header-main-text {
    font-size: 36px;
    line-height: 50px;
}

.header-subtext {
    line-height: 80px;
    font-size: 52px;
    font-weight: bold;
}

.header-subtext-sub {
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
}

.item-nav-search2 {
    display: none;
    background: url("img/icon-search.png") no-repeat;
    width: 24px;
    height: 24px;
}

@media (max-width: 767px) {
    .header-text {
        padding-top: 150px;
    }
    .logo {
        position: relative;
        margin: 0 auto;
        order: 2;
    }
    .item-nav {
        display: none;
    }
    .item-nav-search2 {
        display: block;
        order: 3;
    }
    .header-main-text {
        font-size: 16px;
    }
    .header-subtext {
        font-size: 24px;
        line-height: 40px;
    }
    .header-subtext-sub {
        display: none;
    }
    .nav {
        position: relative;
    }
    .nav-items {
        margin-top: 30px;
        position: absolute;
        z-index: 100;
        display: none;
    }
    .nav-items li {
        padding: 10px 10px;
    }
}

@media(max-width:767px) {
    .header {
        overflow: hidden;
    }
    .logo-text {
        display: none;
    }
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header-burger:before, .header-burger:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger span {
        position: absolute;
        background-color: #ffffff;
        right: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .nav-items.active {
        display: block;
        transition: 0.5s;
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .nav li {
        margin-right: 0;
    }
}

.header-btn {
    position: relative;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    color: #ffffff;
}

.header-buton {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/**/

.header-img-items {
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-header-flex-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    height: 250px;
    justify-content: space-around;
}

.flex {
    margin-right: 2%;
}

.header-line {
    border-bottom: 3px solid #555555;
    width: 100px;
}

.header-img-items1:hover div {
    background: #c7b299;
    border-bottom: 3px solid #c7b299;
}

.header-img-items1:hover :nth-child(2) {
    color: #c7b299;
}

.header-img-items2:hover div {
    background: #c7b299;
    border-bottom: 3px solid #c7b299;
}

.header-img-items2:hover :nth-child(2) {
    color: #c7b299;
}

.header-img-items3:hover div {
    background: #c7b299;
    border-bottom: 3px solid #c7b299;
}

.header-img-items3:hover :nth-child(2) {
    color: #c7b299;
}

.header-img-items4:hover div {
    background: #c7b299;
    border-bottom: 3px solid #c7b299;
}

.header-img-items4:hover :nth-child(2) {
    color: #c7b299;
}

.header-img-karandash {
    background: #555555;
    width: 49px;
    height: 49px;
    -webkit-mask-image: url("img/karandash.svg");
    -webkit-mask-repeat: no-repeat;
}

.header-img-list {
    background: #555555;
    -webkit-mask-image: url("img/list.svg");
    -webkit-mask-repeat: no-repeat;
    width: 43px;
    height: 49px;
}

.header-img-custom {
    background: #555555;
    -webkit-mask-image: url("img/shest.svg");
    -webkit-mask-repeat: no-repeat;
    width: 44px;
    height: 49px;
}

.header-img-folder {
    background: #555555;
    -webkit-mask-image: url("img/folder.svg");
    -webkit-mask-repeat: no-repeat;
    width: 52px;
    height: 49px;
}

.karandash-text {
    margin-top: 15px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

.karandas-subtex {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

@media(max-width:1000px) {
    .karandas-subtex {
        display: none;
    }
    .karandash-text {
        margin: 0;
    }
    .img-header-flex-wraper {
        height: 150px;
    }
    .header-img-items {
        margin: 7%;
        justify-content: space-between;
        height: 200px;
    }
}

@media(max-width:639px) {
    .karandash-text {
        font-size: 13px;
    }
}
@media(max-width:521px){

.header-img-items{
    flex-wrap:wrap;
    width: 250px;
    margin: 0 auto;
}


}
