@import "style1.css";
body {
    padding: 0;
    margin: 0;
}

.wraper-header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    height: 75px;
}

.header-logo {
    background: url(img/Alexis.png), no-repeat;
    width: 97px;
    height: 27px;
    margin: 24px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin-right: 20px;
}

.our-sector {
    background-color: #3f4049;
    height: 850px;
    max-width: 100%;
}

.our-text {
    color: #fff;
    height: 400px;
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    padding-top: 150px;
}

.btn {
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    margin: 0 auto;
    letter-spacing: 1px;
}

.our-item {
    display: flex;
    justify-content: space-between;
    padding: 70px 300px;
}

.items-img1 {
    background-image: url(img/1.png);
}

.items-text1 {
    color: #38c695;
}

.items-img2 {
    background-image: url(img/2.png);
}

.items-text2 {
    color: #b27cf5;
}

.items-img3 {
    background-image: url(img/3.png);
}

.items-text3 {
    color: #feb960;
}

.img-param-our {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.text-param-our {
    height: 14px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.img-param-our2 {
    padding-left: 30px;
}

/*about*/

.img-about {
    height: 1000px;
}

.img-about-main-wraper {
    display: flex;
    align-items: center;
}

.img-about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px auto;
    width: 1141px;
    position: relative;
}

.about2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 555px;
    height: 700px;
    background: rgb(203, 203, 203);
    background: linear-gradient(180deg, rgba(203, 203, 203, 1) 22%, rgba(217, 173, 165, 1) 66%);
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(136, 135, 135, 1) 27%, rgba(191, 153, 147, 1) 66%);
}

.about1 {
    position: absolute;
    top: 80px;
    left: 488px;
    width: 652px;
    height: 550px;
    padding: 94px 83px 106px 83px;
    background-color: #fff;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.about-text {
    top: 94px;
    left: 81px;
    width: 253px;
    height: 43px;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 900;
    line-height: 80.02px;
}

.about-subtex {
    width: 486px;
    height: 259px;
    color: #616161;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    line-height: 27.01px;
    position: relative;
    padding-top: 64px;
}

.about-subtex p {
    padding-top: 45px;
}

/*focus*/

.our-focus {
    background-color: #f7f7f7;
    height: 884px;
    padding-top: 100px;
}

.main-focus-text {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
}

.focus-subtex {
    color: #616161;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
}

.focus-flex-items {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
}

.focus-flex-item {
    width: 263px;
    height: 350px;
    background-color: #fff;
    text-align: center;
    padding: 0 20px;
}

.focus-flex-item1 {
    border-bottom: 3px solid #fc5f45;
}

.focus-flex-item2 {
    border-bottom: 3px solid #38c695;
}

.focus-flex-item3 {
    border-bottom: 3px solid #b27cf5;
}

.focus-flex-item4 {
    border-bottom: 3px solid #feb960;
}

.focus-flex-img1 {
    background: url("img/1.2.png") no-repeat;
    width: 55px;
    height: 40px;
}

.focus-flex-img2 {
    background: url("img/2.2.png");
    width: 55px;
    height: 49px;
}

.focus-flex-img3 {
    background: url("img/3.2.png");
    width: 55px;
    height: 43px;
}

.focus-flex-img4 {
    background: url("img/4.2.png");
    width: 45px;
    height: 40px;
}

.focus-img-param {
    margin: 66px auto 10px;
}

.focus-flex-text {
    color: #313131;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
}

.focus-flex-subtext {
    color: #616161;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

/*video*/

.video {
    height: 400px;
    background-color: #3f4049;
}

.video-wraper {
    text-align: center;
    color: #fff;
    font-family: "Poppins";
    padding: 20px;
}

.video-text {
    /* Style for "Explore Ou" */
    font-size: 30px;
    font-weight: 400;
    line-height: 80px;
    padding-top: 70px;
}

.video-img {
    background: url(img/video.png) no-repeat;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.video-subtex {
    /* Style for "Click to p" */
    font-size: 15px;
    font-weight: 400;
    line-height: 80px;
}

/*portfolio*/

.portfolio {
    text-align: center;
    padding-top: 100px;
}

.portfolio_main_tecx {
    /* Style for "Portfolio." */
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
}

.portfolio-subtext {
    /* Style for "We underst" */
    color: #616161;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
}

.portfolio-img-wraper-flex {
    display: flex;
    justify-content: center;
}

.item-portfolio img {
    margin: 0px 0px;
    display: block;
    overflow: hidden;
}

.block {
    display: block;
    height: 288px;
    overflow: hidden;
    position: relative;
    width: 360px;
    margin: 20px 10px;
}

.block .block-caption {
    font-family: "Poppins";
    background: #fff;
    color: #fff;
    display: block;
    left: 0;
    opacity: 0;
    padding: 30px 0;
    position: absolute;
    transition: all 0.9s ease-in-out 0s;
    width: 360px;
    bottom: -40px;
    color: #313131;
    font-size: 18px;
    letter-spacing: 0.9px;
}

.block-caption {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%);
}

.block:hover .block-caption {
    transform: translateY(-40%);
    opacity: 1;
}

.block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/*team*/

.team {
    height: 1226px;
    background-color: #f3f3f3;
}

.team-title {
    text-align: center;
}

.team-text {
    padding-top: 50px;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.2px;
}

.team-subtex {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.2px;
}

.foto-wraper {
    display: flex;
    justify-content: center;
}

.foto-item {
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    position: relative;
    height: 370px;
    width: 263px;
    text-align: center;
}

.photo-gradient1 {
    height: 270px;
    background: rgb(217, 173, 165);
    background: linear-gradient(0deg, rgba(217, 173, 165, 1) 20%, rgba(203, 203, 203, 1) 50%);
}

.photo-gradient2 {
    height: 270px;
    background: rgb(161, 201, 188);
    background: linear-gradient(0deg, rgba(161, 201, 188, 1) 20%, rgba(203, 203, 203, 1) 50%);
}

.photo-gradient3 {
    background: rgb(196, 181, 215);
    background: linear-gradient(0deg, rgba(196, 181, 215, 1) 20%, rgba(203, 203, 203, 1) 50%);
    height: 270px;
}

.photo-gradient4 {
    background: rgb(217, 198, 173);
    background: linear-gradient(0deg, rgba(217, 198, 173, 1) 20%, rgba(203, 203, 203, 1) 50%);
    height: 270px;
}

.photo-text {
    /* Style for "Michael Sc" */
    color: #fc5f45;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 15px;
}

.photo-subtext {
    color: #616161;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.foto1 {
    border-bottom: 3px solid #fc5f45;
}

.foto2 {
    border-bottom: 3px solid #38c695;
}

.foto3 {
    border-bottom: 3px solid #b27cf5;
}

.foto4 {
    border-bottom: 3px solid #feb960;
}

a {
    display: block;
}

.photo-main-text-title {
    height: 391px;
    width: 1113px;
    background-color: #fff;
    display: flex;
    position: relative;
}

.photo-main-text-title:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 30px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -30px;
    left: 10%;
}

.photo-selected {
    position: relative;
}

.photo-main-text-title-wraper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.sub-text-title {
    margin: 50px;
    width: 634px;
    position: absolute;
    background-color: #fff;
}

.title-main-text {
    color: #272727;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
}

.title-main-subtex {
    /* Style for "Monetizati" */
    color: #616161;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

.soc-network {
    display: flex;
    align-items: center;
    right: -850px;
    position: relative;
}

.share {
    background: url(img/share.png) no-repeat;
    width: 36px;
    height: 36px;
    position: relative;
}

.list-item {
    border-left: 2px solid #efefef;
    height: 151px;
    padding-left: 20px;
    margin-left: 60px;
    line-height: 28px;
    display: flex;
    align-items: center;
    line-height: 28px;
}

.fb::before {
    content: '';
    background: url(img/fb.png) no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 20px;
}

.twit::before {
    content: '';
    background: url(img/tw.png) no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 20px;
}

.linkid::before {
    content: '';
    background: url(img/link.png) no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 20px;
}

.instagram::before {
    content: '';
    background: url(img/inst.png) no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 20px;
}

/*coffe*/

.cofee-item {
    background: url(img/Layer_24.png) no-repeat;
    color: #fff;
    height: 464px;
    background-size: cover;
}

.cofee-main-flex {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.cofee-flex-title {
    margin: 0 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cofee-img-grafik {
    background: url(img/grafik.png) no-repeat;
    width: 51px;
    height: 48px;
}

.cofee-img-people {
    background: url(img/people.png) no-repeat;
    width: 51px;
    height: 48px;
}

.cofee-img-heard {
    background: url(img/heard.png) no-repeat;
    width: 51px;
    height: 48px;
}

.cofee-img-gift {
    background: url(img/gift.png) no-repeat;
    width: 51px;
    height: 48px;
}

.cofee-count {
    color: #fefefe;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 80.21px;
}

.cofee-text {
    opacity: 0.7;
    color: #fefefe;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    line-height: 80.52px;
}

.tochka1 {
    width: 15px;
    height: 15px;
    background: #fc5f45;
    border-radius: 50%;
}

.tochka2 {
    width: 15px;
    height: 15px;
    background: #38c695;
    border-radius: 50%;
}

.tochka3 {
    width: 15px;
    height: 15px;
    background: #b27cf5;
    border-radius: 50%;
}

.tochka4 {
    width: 15px;
    height: 15px;
    background: #feb960;
    border-radius: 50%;
}

.cofee-cirkl1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fc5f45;
}

.cofee-cirkl2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #38c695;
}

.cofee-cirkl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #b27cf5;
}

.cofee-cirkl4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #feb960;
}

/*work-space*/

.work-space {
    height: 1726px;
}

.work-text {
    padding-top: 50px;
    text-align: center;
}

.main-work-text {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
}

.sub-work-text {
    color: #616161;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
}

.flex-wrapper-work {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-flow: column;
}

.work-red {
    position: relative;
}

.red-one {
    background-color: #fff;
    border-bottom: 3px solid #fc5f45;
    width: 458px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: -300px;
    top: -50px;
    padding: 80px 50px 80px 100px;
}

.red-one-text {
    color: #272727;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 400;
}

.red-one-subtext {
    padding-top: 30px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

.red-two {
    background: linear-gradient(0deg, rgba(217, 173, 165, 1) 20%, rgba(203, 203, 203, 1) 50%);
    width: 556px;
    height: 300px;
}

.work-green {
    position: relative;
}

.green-one {
    background-color: #fff;
    border-bottom: 3px solid #38c695;
    width: 458px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: -300px;
    top: -50px;
    padding: 80px 50px 80px 100px;
}

.green-two {
    background: linear-gradient(0deg, rgba(161, 201, 188, 1) 20%, rgba(203, 203, 203, 1) 50%);
    width: 556px;
    height: 300px;
}

.work-fiol {
    position: relative;
}

.fiol-one {
    background-color: #fff;
    border-bottom: 3px solid #b27cf5;
    width: 458px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: -300px;
    top: -50px;
    padding: 80px 50px 80px 100px;
}

.fiol-two {
    background: linear-gradient(0deg, rgba(196, 181, 215, 1) 20%, rgba(203, 203, 203, 1) 50%);
    width: 556px;
    height: 300px;
}

.work-yelow {
    position: relative;
}

.yelow-one {
    background-color: #fff;
    border-bottom: 3px solid #feb960;
    width: 458px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: -300px;
    top: -50px;
    padding: 80px 50px 80px 100px;
}

.yelow-two {
    background: linear-gradient(0deg, rgba(217, 198, 173, 1) 20%, rgba(203, 203, 203, 1) 50%);
    width: 556px;
    height: 300px;
}

/*pricing*/

.pricing-table {
    background: #f7f7f7;
    height: 1049px;
    padding-top: 150px;
}

.pricing-table-text {
    text-align: center;
}

.pricing-table-maintext {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
}

.pricing-table-subtex {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
}

.pricing-flex-wraper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-green {
    border-top: 3px solid #38c695;
}

.box-red {
    border-top: 3px solid #fc5f45;
}

.box-fiol {
    border-top: 3px solid #b27cf5;
}

.pricing-flex-box {
    font-family: "Poppins";
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #fff;
    width: 360px;
    height: 576px;
    margin: 30px;
    color: #616161;
}

.line-heigth {
    padding-top: 20px;
    line-height: 40px;
}

.pricing-flex-text {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
}

.pricing-div-green {
    align-items: center;
    display: flex;
    color: #fff;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #38c695;
}

.pricing-offset span {
    display: block;
    font-size: 25px;
    line-height: 35px;
}

.pricing-offset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    width: 95px;
    height: 95px;
    border: 2px solid;
    border-radius: 50%;
}

.pricing-div-red {
    align-items: center;
    display: flex;
    color: #fff;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #fc5f45;
}

.pricing-div-fiol {
    align-items: center;
    display: flex;
    color: #fff;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #b27cf5;
}

.sale-red {
    height: 10;
    font-size: 25px;
    line-height: 30px;
}

.sale-fiol {
    height: 10;
    font-size: 25px;
    line-height: 30px;
}

.chek:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 13px;
    margin: -3px 10px 3px;
    border: solid #616161;
    border-width: 0 2px 2px 0;
    transform: rotate( 40deg);
}

.btn2 {
    background-color: #fff;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    margin: 0 auto;
    letter-spacing: 1px;
}

.btn-pricing1 {
    color: #38c695;
    border: 3px solid #38c695;
}

.btn-pricing2 {
    color: #fc5f45;
    border: 3px solid #fc5f45;
}

.btn-pricing3 {
    color: #b27cf5;
    border: 3px solid #b27cf5;
}

.btn-pricing1:hover {
    background-color: #38c695;
    color: #fff;
}

.btn-pricing2:hover {
    background-color: #fc5f45;
    color: #fff;
}

.btn-pricing3:hover {
    background-color: #b27cf5;
    color: #fff;
}

.pricing-fast {
    margin-bottom: 40px;
}

.tesimonials {
    padding-top: 50px;
    background-color: #3f4049;
    height: 874px;
}

.testim-maintex {
    text-align: center;
}

.testim-tex {
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 79.78px;
}

.testim-subtext {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 79.78px;
}

/*SLIDER-MUTHERFUCKER*/

.SLIDER-MUTHERFUCKER {
    margin: 100px auto 0;
    position: relative;
    
}

.SLIDER-MUTHERFUCKER>input {
    display: none;
}

.SLIDER-MUTHERFUCKER .controls {
    left: 78%;
    bottom: -400px;
    position: absolute;
   
}
.SLIDER-MUTHERFUCKER label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.SLIDER-MUTHERFUCKER label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 20px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 20px;
	border-radius: 50%;
}
.SLIDER-MUTHERFUCKER label {
    
    padding: 6px;
    
    text-align: center;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	position: relative;
	width: 10px;
	border-radius: 50%;
	transition: ease-in-out .5s;
}
.SLIDER-MUTHERFUCKER label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}

.slider {
    margin: 0 auto;
    width: 1141px;
    background-color: #ddd;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	
	opacity: 0;
	position: absolute;
	z-index: 0;
	
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 0;
	transform: scale(1);
}
.slides {
    position: absolute;
}

/*font-family: 'Sacramento', cursive;*/

.main-div-slider {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.slider-gradient {
    
    width: 384px;
    height: 399px;
    background: linear-gradient(0deg, rgba(217, 173, 165, 1) 20%, rgba(203, 203, 203, 1) 50%);
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(136, 135, 135, 1) 27%, rgba(191, 153, 147, 1) 66%);
}

.slider-text {
  padding: 50px;
    background-color: #fff;
    width: 822px;
    height: 312px;
    border-bottom: 3px solid #fc5f45;
}

.slider-text-main {
    color: #616161;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;}

.slider-text-certifikat {
    /* Style for "Melina" */

color: #272727;
font-family: "Sacramento";
font-size: 40px;
font-weight: 400;
line-height: 80px;
}

.slider-text-name {/* Style for "Melina Alb" */
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  
}

.slider-text-subtext {

color: #fc5f45;
font-family: Poppins;
font-size: 13px;
font-weight: 400;

}